{% assign programming_languages = "Python, Java, C, R, Bash, HTML, CSS, JavaScript, UML, MIPS Assembly, OCaml" %}
{% assign frameworks_technologies = "MongoDB, SQL, Pandas, NumPy, ReactJS, Tailwind, Flask, ExpressJS, NodeJS, Dash, Plotly, Streamlit, RESTful API" %}
{% assign development_skills = "Data Structures and Algorithms, Object-Oriented Programming, Test-Driven Development" %}
{% assign developer_tools = "OpenAI, VS Code, IDEA, Vite, Git, GitHub, Ngrok, Postman, Cloudinary" %}
{% assign languages_spoken = "English, French, Mandarin" %}
{% assign fun_fact = "I once received an invitation to study illustration at UAL Camberwell College 🎨, yet I chose to immerse myself in programming. Each line of code is a stroke of the brush I draw to create innovative solutions :D" %}

<ul style="padding-top: 10px;">
  <li>Programming Languages: {{ programming_languages }}</li>
  <li>Frameworks & Technologies: {{ frameworks_technologies }}</li>
  <li>Development Skills: {{ development_skills }}</li>
  <li>Developer Tools: {{ developer_tools }}</li>
  <li>Languages Spoken: {{ languages_spoken }}</li>
  <li>Fun fact: {{ fun_fact }}</li>
</ul>
